html {
  font-family: "Lato", sans-serif;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

body {
  justify-content: center;
  overflow-x: hidden;
  margin: 0px;
}

.container {
  padding: 5% 15% 5% 15%;
  background-color: saddlebrown;
  margin-top: 10%;
  width: 100vw;
  justify-content: space-between;
}

.mainContainer {
  background-color: white;
  filter: drop-shadow(0 0 0.75rem grey);
  border-radius: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
}

.center {
  width: 33%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice {
  margin-top: 6rem;
  margin-bottom: 6rem;
  filter: drop-shadow(0 0 0.75rem grey);
  border-radius: 6px;
  width: 15rem;
  height: 15rem;
}

.Icons {
  height: 2rem;
  margin-right: 1rem;
  filter: invert(17%) sepia(87%) saturate(6318%) hue-rotate(342deg)
    brightness(89%) contrast(92%);
}

.score {
  font-size: 7rem;
  font-weight: 200;
  color: crimson;
  margin-bottom: 12rem;
}
.currentScoreContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: salmon;
  margin-bottom: 5rem;
  border-radius: 6px;
}

.currentScoreContainer p {
  align-items: center;
  color: black;
}

.currentScore {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  color: white;
}

.playerSide {
  height: auto;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}

h2 {
  font-weight: 100 !important;
  letter-spacing: 3px;
}

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: crimson;
}
